@import "~materialize-css/dist/css/materialize.min.css";

 /* label color */
.input-field.white-color label {
  color: #fff !important;
}
/* label focus color */
.input-field.white-color input[type=text]:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field.white-color input[type=text]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* label underline focus color */
.input-field.white-color input[type=password]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* valid color */
.input-field.white-color input[type=text].valid {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* label underline focus color */
.input-field.white-color input[type=password].valid {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* invalid color */
.input-field.white-color input[type=text].invalid {
  border-bottom: 1px solid #f44336  !important;
  box-shadow: 0 1px 0 0 #f44336  !important;
}
/* icon prefix focus color */
.input-field.white-color .prefix.active {
  color: #fff !important;
}
/* 
input.yellow-input {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 white;
}

input.yellow-input + label {
  color: red;
}

input.yellow-input:focus + label {
  color: red;
}


input.yellow-input:focus {
  border-bottom: 1px solid blue;
} */